* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #1b1b32;
}

.App {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-family: lato, sans-serif;
}

.freecodecamp-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.freecodecamp-logo {
    height: 50px;
}


.main{
    min-width: 600px;
    height: 550px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}